/* Empty. Add your own CSS if you like */

/*
 *    Global variables
 */

.bg-primary {
    background: #efefef; }
h1, h2, h3, h4, h5, p {
    color: #5d5d5d; }
hr {
    color: #5d5d5d;
    max-width: 30%; }
.text-success {
    color: #007272; }
.text-failure {
    color: #f35564; }
.page {
    min-height: 700px;
    padding-top: 260px;
    background: #efefef; }
.card-title {
    text-align: center; }

.current-card, .goal-card {
    width: 90%;
    padding: 20px 0px;
    margin: 15px auto;
    box-shadow: none; }

/* Button styles */
.button {
    background: transparent !important;
    border: 1px solid #007272 !important;
    color: #007272 !important; 
    transition: background 0.1s;}
.button:focus, button:active {
    background: #007272 !important;
    color: #fff !important; }
/* /Button */

/*
 *    Header
 */

.user-card {
    height: 150px;
    width: 70%;
    margin: 50px auto;
    box-shadow: none;
    background: transparent; }
.tabs {
    box-shadow: 0px 2px 10px rgba(36, 36, 36, 0.7); }

/*
 *    Page 0 / innlogging
 */

.login-form {
    width: 80%;
    margin: 170px auto 20px; }
.input-label {
    width: 100%;
    text-align: center; }
.item-input {
    padding: 0; }
.login-input {
    background: transparent !important;
    border-bottom: 1px solid #007272 !important; 
    border-radius: 0px !important; }
.button-login {
    margin: 30px auto !important;
}

/*
 *    Page 1 / tidligere økt
 */

/*
 *    Page 2 / nåværende økt
 */

.current-text, .current-days, .category-icon {
    margin: 20px 0px;
    text-align: center; }
.category-icon {
    width: 100%;
    font-size: 74px !important;
    color: #007272;
}
.progress-days {
    height: 20px;
    width: 80%;
    margin: 20px auto;
    background: #efefef;
}

/*
 *    Page 3 / sparemål
 */






























